<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academey.demo.listeners"/>
<listener class-name="resources.ExtentReporterNG.java"/>
</listeners>


  <test thread-count="5" name="Validating Navigation bar">
    <classes>
      <class name="Academey.demo.validateNavigationBar"/>
      </classes>
  </test>
      <test thread-count="5" name="Validating User Login">
    <classes>
      <class name="Academey.demo.HomePage"/>
      </classes>
  </test>
   <test thread-count="5" name="Validating title in the page">
    <classes>
      <class name="Academey.demo.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
